<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/486c4804e3.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="login-body">
    <div class="login-form-contain">
        <section>
            <div  class="imgBx">
                <img src="/imgs/background/background_login.jpg">
                <div class="img-content">
                    <h4>Welcome to TDTU Social Network</h4>
                </div>
            </div>
            <div class="contentBx">
                <form class="login-form" method="POST" action="/login">
                    <h1>Đăng nhập</h1>
                    <div class="gg-icon-container">
                        <a class="gg-button" href="/sinhvien/auth/google">
                            <div class="gg-icon">
                                <img src="/imgs/background/Illustration-of-Google-icon-on-transparent-background-PNG.png">
                            </div>
                            <span>Google</span>
                        </a>
                    </div>
                    <p>Hoặc sử dụng tài khoản của bạn</p>
                    <div class="form-group">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <label for="username">Tên đăng nhập</label>
    <!-- in ra username -->
                     
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập" value="<%= username %>" >
                           
                      
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <label for="password">Mật khẩu</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Mật khẩu" value="<%= password %>">
                    </div>
<!-- thong bao loi -->
                    <% if(locals.errorMessege){ %>
                        <div id="error" class="alert alert-danger" >
                            <%= errorMessege %>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <a id="forgot-password">Quên mật khẩu?</a>
                        <button id="btn-dangnhap" type="submit" class="btn btn-submit-login">Đăng nhập</button>
                    </div>
                    <div class="form-group group-sign-up">
                        <span>Chưa có tài khoản?</span><a href="/signup" class="sign-up text-danger">Đăng ký</a>

                    </div>
                </form>
                <!--Forgot pass form-->
                <form class="forgot-pass-form">
                    <h1>Quên mật khẩu</h1>
                    <div class="form-group">
                        <label>Nhập email để lấy lại mật khẩu</label>
                        <input type="text" class="form-control" placeholder="Ex@gmail.com">

                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-sub-forgot-pass">Xác nhận</button>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <div class="devide">______________ Hoặc _____________</div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <div class="btn" id="return-login"><i class="fa back-arrow fa-arrow-left"></i> Trở về đăng nhập</div>
                    </div>
                </form>
            </div>
        </section>
    </div>


    <!--Jquery-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="javascripts/main.js"></script>
</body>
    <script>
       
      
    </script>
</html>